extends layout

block content
	form
		label
			input(type="text", placeholder="Username", name="username")
		label
			input(type="text", placeholder="Password", name="passsword")
		input(type="submit", value="Log in")
	p
		a(href="/auth/google") Sign In with Google


